<div id="confirmModal" class="reveal-modal small" data-reveal>
  <h2>Danger zone</h2>
  <p>Are you sure you want to leave this page before saving?</p>
  <a class="confirm button alert">Confirm</a>
  <a class="cancel button">Cancel</a>
</div>
