{{#link-to 'venue.edit' venue}}
  <div class="m-venue-box">
    <img {{bind-attr src="venue.imageSrc"}} width="60" height="60">
    <h6>{{venue.title}}</h6>
    <small>{{venue.pitch}}</small>
    <p>Viimeksi muokattu tuntematon</p>
  </div>
{{/link-to}}
