<div class="m-wizard-side-nav new">
  <div class="m-box">
    <div class="m-box-title">Vaiheet</div>
    <ul>
      <li {{bind-attr class=isIndexCompleted:completed}}>
        {{!-- Event name dummy to disable links --}}
        {{#link-to "venue.wizard.index" href=false eventName='dummy'}}
          Perustiedot
        {{/link-to}}
      </li>
      <li {{bind-attr class=isPricingCompleted:completed}}>
        {{#link-to "venue.wizard.pricing" href=false eventName='dummy'}}
          Hinnoittelu
        {{/link-to}}
      </li>
      <li {{bind-attr class=isTypesCompleted:completed}}>
        {{#link-to "venue.wizard.types" href=false eventName='dummy'}}
          Tila &amp; tapahtumat
        {{/link-to}}
      </li>
      <li {{bind-attr class=isServicesCompleted:completed}}>
        {{#link-to "venue.wizard.services" href=false eventName='dummy'}}
          Palvelut &amp; puitteet
        {{/link-to}}
      </li>
    </ul>
    <div class="m-box-content">
      <p>Luo tilan profiili valmiiksi.</p>
    </div>
  </div>
</div>
