#ember-testing-container {
  position: absolute;
  right: 0;
  width: 640px;
  height: 384px;
  z-index: -100;
  overflow: auto;
  border: 1px solid #ccc;
  background: white;
}
#ember-testing {
  zoom: 50%;
}