textarea {
  height: auto;
}

// Disable placeholder links.
a[href="#"] {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.with-postfix {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    @include border-right-radius(0);
  }
}

.with-prefix {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    @include border-left-radius(0);
  }
}

select {
  @include border-radius($global-radius);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  background-color: white;
  font-size: 1rem;
  color: $basetext-color;
  outline: none;
  &:focus {
    @include box-shadow(0 0 3px $primary-color);
    border: 1px solid $primary-color;
    background: #fff;
  }
}

span.inline {
  @extend label.inline;
  display: inline-block;
}

.centered {
  text-align: center;
}

button, .button:not(.disabled) {
  &.alert {
    background-color: $alert-color;
  }
}
