textarea {
  height: auto;
}

// Disable placeholder links.
a[href="#"] {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

span.postfix {
  @include border-right-radius($global-radius);
}

span.prefix {
  @include border-left-radius($global-radius);
}

.with-postfix {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    @include border-right-radius(0);
  }
}

.with-prefix {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    @include border-left-radius(0);
  }
}
