.m-dashboard-navbar {
  $bar-height: 50px;
  $bar-item-count: 6;
  margin: 1em 0;

  .top-bar {
    @include border-radius($global-radius);
    border: 1px solid $border-color;
    background: $bg-color;
    display: none;
    overflow: hidden;

    &.expanded { display: block; }
  }

  .top-bar-section ul {
    background: $bg-color;
    li { background: inherit; }
    li a {
      &:not(.button) {
        line-height: $bar-height / 3;
        background-color: $bg-color;
        color: $basetext-color-light;
        text-align: center;
        font-size: 0.8em;

        &:hover { background-color: darken($bg-color, 10%); }
      }
      &.active {
        color: $secondary-color;
        background-color: $primary-color;

        &:hover {
          color: darken($secondary-color, 10%);
          background-color: $primary-color;
        }
      }
    }
  }

  // Medium screens
  @media #{$large-up} {
    .top-bar-section ul li a:not(.button) {
      font-size: 1em;
    }
  }

  // Big screens
  @media #{$topbar-media-query} {
    .top-bar {
      display: block;
      height: $bar-height;
    }

    .top-bar-section ul li {
      width: 100% / $bar-item-count;
      border-right: 1px solid $border-color;
      &:last-child { border-right: none; }
      a:not(.button) {
        line-height: $bar-height - 2;
        padding: 0;
      }
    }
  }
}
