.m-sticky-side-nav {
  @extend .m-box-group;
  @extend .show-for-medium-up;

  ul {
    @extend .side-nav;
    li { font-size: 1em; }
  }

  &.fixed {
    margin: 1em 0 0 1em;
    width: 270px;
    max-width: 23%;
  }
}
