.m-venue-box {
  @extend .m-container-box-compact;
  @include block-glowing-effect($selector:hover, $fade-time:200ms);
  $spacing: 0.7em;

  overflow: hidden;
  padding: $spacing;

  &:last-child {
    margin-bottom: $spacing;
  }

  h6 {
    margin: 0;
  }

  small {
    font-weight: bold;
    color: $basetext-color-light;
  }

  p {
    color: $basetext-color-light;
  }

  img {
    float: left;
    margin-right: $spacing;
  }
}
