// Styles for description text next to actual label
label span {
  font-size: 11px;
  color: $basetext-color-lightest;
}

select {
  // Remove Foundation's weird default styling to select
  -webkit-appearance: menulist !important;
  background-color: none;
  background-image: none;
  cursor: pointer;
  // After this iPhone won't zoom into select-elements. More info:
  // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
  font-size: 16px;
  @media #{$small} {
    font-size: 11px;
  }
}

.m-description-field {
  height: rem-calc(120);
}
