.is-loading {
  .m-title-bar, .m-previewbox-contents {
    opacity: 0.3;
  }
}

// Centering structure made according to this Fiddle: http://jsfiddle.net/NeK4k/
.m-loader {
  display: none;
  position: relative;
}

.m-loader-container {
  // Use fixed position to keep the loader visible all times
  position: fixed;
  top: 40%;
  margin-left: 35%;
  @media #{$small} {
    margin-left: 27%;
  }
  @media #{$medium} {
    margin-left: 24em;
  }
  z-index: 2;
  // Container
  padding: 1em;
  background-color: white;
  border: 1px solid $border-color;
  @include border-radius($global-radius);
  .m-loader-spinner {
    // Center spinner
    margin: 0 auto;
    // Define dimensions for spinner
    height: 48px;
    width: 48px;
  }
  p {
    margin: 1em 0 0 0;
    font-weight: bold;
    text-align: center;
  }
}
