.m-navbar {
  background: $primary-color;
  a {
    color: white;
  }
  // Logo positioning
  .name a {
    margin: 6px 0 0 20px;
    float: left;
  }
  .top-bar-section a {
    text-align: center;
    &.button:hover {
      background-color: $success-color !important;
    }
  }
  .expanded {
    a:not(.button) {
      padding-left: 0;
    }
    .has-form {
      padding-top: 10px;
    .button {
      padding: 16px 0;
    }
    }
  }
  .menu-icon a {
    // Use !important because Foundation is overly specific
    text-indent: -60px !important;
  }
}
