.m-service-list {
  // Clearfix with 100 % width and overflow: auto
  // http://www.quirksmode.org/css/clearing.html
  width: 100%;
  overflow: auto;
  padding-bottom: 1em;
  font-weight: bold;
  li {
    float: left;
    // On mobile devices show only one service on one line
    width: 100%;
    line-height: 2.2;
    // For some reason emCalc(12) renders text as 11px
    font-size: 12px;
    @media #{$small} {
      // On bigger screens show 2 columns of services
      width: 50%;
    }
  }
  i {
    padding-right: emCalc(3);
    color: $primary-color-effect;
  }
}

.m-service-list-not-available {
  color: $basetext-color-lightest;
  font-weight: normal;
  padding-left: 1.4em;
}
