.m-sub-page-title {
  background-color: $primary-color-effect;
  text-align: center;
  color: #fff;
  h2 {
    font-size: 1.2em;
    @media #{$small} {
      font-size: 1.6em;
    }
  }
  .button {
    margin-top: 1em;
  }
}
