.tabs {
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-bottom: 0;
  padding: 1em 1em 0;
  border-radius: $global-radius $global-radius 0 0;
  .tab-title {
    > a {
      @include border-top-radius($global-radius);
      border: 1px solid $border-color;
      border-bottom: 0;
      font-weight: bold;
      font-size: 1em;
      margin-right: 1em;
    }
  }
}

.tabs-content {
  margin-bottom: $column-gutter/2; // Default padding value for tabs-content
  > .content {
    border: 1px solid $border-color;
    border-top: none;
    overflow: hidden;
  }
}
