.m-team {
  margin-top: 3em;
  text-align: center;
  @media #{$tiny} {
    text-align: left;
  }
  img {
    margin-bottom: 1em;
  }
  em {
    color: $basetext-color-lighter;
    font-size: emCalc(12);
  }
  h5 {
    margin-bottom: 0em;
  }
  p {
    margin: 1em 0;
  }
  .row {
    margin-bottom: 2em;
  }
  ul {
    font-size: 1.4em;
    list-style-type: none;
  }
  li {
    display: inline;
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
  }
}
