.m-title-bar {
  // Clear floating
  width: 100%;
  overflow: auto;
  text-align: center;
  margin-bottom: 1em;
  @media #{$small} {
    text-align: left;
  }
}

.m-search-hits {
  margin-bottom: 1em;
  font-size: .85em;
  @media #{$small} {
    float: left;
    margin-top: 3px;
    margin-bottom: 0;
  }
}

.m-search-order {
  @media #{$small} {
    white-space: nowrap;
    float: right;
  }
  label {
    margin-bottom: 0;
  }
  select {
    width: auto;
    margin-bottom: 0;
    margin-top: 5px;
    height: auto;
    @media #{$small} {
      margin-top: 0;
    }
  }
  strong {
    margin-right: 6px;
  }
}
