.m-what-is-venuu {
  h3 {
    color: $basetext-color-light;
    padding-top: 1.2em;
  }
  p {
    color: $basetext-color-lighter;
    font-size: rem-calc(16);
    margin-bottom: 3em;
  }
  img {
    @include border-radius($global-radius);
    @include box-shadow(0 1px 2px rgba(black, .2));
  }
  li {
    text-align: center;
  }
}
