<div class="m-wizard-side-nav">
  <div class="m-box">
    <div class="m-box-title">Vaiheet</div>
    <ul>
      <li>
        {{#link-to "venue.edit.index" this}}Perustiedot{{/link-to}}
      </li>
      <li>
        {{#link-to "venue.edit.pricing" this}}Hinnoittelu{{/link-to}}
      </li>
      <li>
        {{#link-to "venue.edit.types" this}}Tila &amp; tapahtumat{{/link-to}}
      </li>
      <li>
        {{#link-to "venue.edit.services" this}}Palvelut &amp; puitteet{{/link-to}}
      </li>
    </ul>
    <div class="m-box-content">
      <a href="#" class="button expand">Esikatsele</a>
      <p>Luo tilan profiili valmiiksi.</p>
    </div>
  </div>
</div>
