<div class="m-container-box-compact">
  <h4>Päivitä tiedot</h4>

  <div class="edit-form">
    {{partial "venue/form"}}
    <button id="destroy" {{action 'destroy'}}>Poista tila</button>
  </div>
</div>