<div class="m-container-box-compact">
  <h4>Päivitä tiedot</h4>

  <label for="title">Nimi</label>
  {{input value=title id="title"}}

  <label for="description">Kuvaus</label>
  {{textarea value=description id="description" rows="6"}}
  <br>
  <button {{action 'save'}} class="success">Tallenna</button>
</div>