<h2>Tilasi <small>{{length}} kpl</small></h2>

<div class="medium-8 columns">
  {{#each model}}
      {{v-venue-box venue=this}}
  {{/each}}

  {{#link-to 'venue.new' id='create' class='button success'}}
    Luo uusi tila
  {{/link-to}}
</div>
