<div class="m-wizard-side-nav">
  <div class="m-box">
    <div class="m-box-title">Vaiheet</div>
    <ul>
      <li>
        <a class="active">Perustiedot</a>
      </li>
      <li>
        <a>Yhteystiedot</a>
      </li>
      <li>
        <a>Jotain</a>
      </li>
    </ul>
    <div class="m-box-content">
      <a href="#" class="button expand">Esikatsele</a>
      <p>Luo tilan profiili valmiiksi.</p>
    </div>
  </div>
</div>
