<div class="m-sticky-side-nav" data-magellan-expedition="fixed">
  <div class="m-box">
    <div class="m-box-title">Osiot</div>
    <div class="m-box-content">
      <ul>
        <li data-magellan-arrival="basic">
          <a {{action goto "basic"}}>Perustiedot</a>
        </li>
        <li data-magellan-arrival="contact">
          <a {{action goto "contact"}}>Yhteystiedot</a>
        </li>
      </ul>
    </div>
  </div>
</div>
