<div class="m-wizard-side-nav">
  <div class="m-box">
    <div class="m-box-title">Vaiheet</div>
    <ul>
      <li>
        <a class="active">Perustiedot</a>
      </li>
      <li>
        <a>Hinnoittelu</a>
      </li>
      <li>
        <a>Tilan tyyppi</a>
      </li>
      <li>
        <a>Palvelut &amp; puitteet</a>
      </li>
      <li>
        <a>Tapahtumat</a>
      </li>
    </ul>
    <div class="m-box-content">
      <a href="#" class="button expand">Esikatsele</a>
      <p>Luo tilan profiili valmiiksi.</p>
    </div>
  </div>
</div>
