{{outlet}}

<div class="row">
  <div class="medium-12 columns">
    {{#unless isFirstPage}}
      <button id="back"
        {{action 'stepBack' currentStep}}>
        Takaisin
      </button>
    {{/unless}}
    <button id="step" class="success right"
      {{action 'step' currentStep}}>
      Seuraava
    </button>
  </div>
</div>

