<div class="column medium-12">
  <div class='m-dashboard-navbar'>
    <nav class='top-bar'>
      <section class='top-bar-section'>
        <ul>
          <li>{{#link-to 'index'}}Yleisnäkymä{{/link-to}}</li>
          <li>{{#link-to 'venue_groups'}}Kohteet{{/link-to}}</li>
          <li>{{#link-to 'venues'}}Tilat{{/link-to}}</li>
          <li><a href="#">Tarjouspyynnöt</a></li>
          <li><a href="#">Arvostelut</a></li>
          <li><a href="#">Profiili</a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>
