<div class="row collapse">
  {{v-input cols="2:6" label="Kohteen nimi" name="vg-name" content=name}}
  {{v-input cols="2:6" label="Osoite" name="vg-address" content=address}}
  {{v-input cols="2:6" label="Postinumero" name="vg-zipcode" content=zipcode}}
  {{v-input cols="2:6" label="Kaupunki" name="vg-city" content=city}}
</div>
