<label for="name">Nimi</label>
{{input value=name id="name"}}

<label for="city">Kaupunki</label>
{{input value=city id="city"}}

<label for="address">Osoite</label>
{{input value=address id="address"}}
<br>
<button id="venue-group-button" {{action 'save'}} class="success">Tallenna</button>