<div class="m-venuegroup-sidebar">
  <div class="m-box">
    <div class="m-box-title">Kohteet</div>
    <ul>
        {{#each venueGroups}}
          {{v-group-sidebar group=this}}
        {{/each}}
    </ul>
  </div>
</div>
