<h2>Kohteet <small>{{length}} kpl</small></h2>

<div class="medium-8 columns">
  {{#each this}}
    {{v-group-box group=this}}
  {{/each}}
  {{#link-to 'venue_group.new' id='create' class='button success'}}
    Luo uusi kohde
  {{/link-to}}
  <br>
  {{#link-to 'venue_group'}}Näytä kaikki kohteesi{{/link-to}}
</div>
