<div class="m-box-group">
  <div class="m-box">
    <div class="m-box-title">Vinkki</div>
    <div class="m-box-content">
      <p>Kohteen luomisen jälkeen pääset luomaan erikseen tiloja kyseiselle kohteelle.</p>
    </div>
  </div>
</div>
