<div class="m-container">
  <h2>Anna kohteen tiedot</h2>
</div>
<div class="edit-form m-container-box">
  <div class="row">
    {{partial "venue_group/form"}}

    <div class="medium-12 columns">
      <button id="save" {{action 'save'}} class="success">Tallenna</button>
    </div>
  </div>
</div>
