textarea {
  height: auto;
}

button#new-venue {
  position: absolute;
  right: 2em;
  top: 1em;
}

button#destroy-venue {
  position: absolute;
  top: 0;
  right: 0;
}

.disabled {
  color: #1abc9c;
  opacity: 0.5;
}

.venue-container {
  position: relative;
}

.venue-group-link-description {
  color: black;
}

.venue-group-venue-box {
  overflow: hidden;

  img {
    float: left;
    margin-right: 1em;
  }
}

.venue-amount {
  float: right;
}