<footer>
  <div class="l-container-primary m-footer-engagement">
    <div class="row">
      <div class="medium-6 columns">
        <div class="m-subscribe">
          <h4>Liity sisäpiiriin!</h4>
          <form action="http://venuu.us7.list-manage.com/subscribe/post?u=6383ef9e628c80636c0ae3299&amp;amp;id=7c03d120c4" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <div class="row collapse">
              <div class="small-6 medium-8 columns">
                <input name="EMAIL" placeholder="sinun@email.fi" type="email">
              </div>
              <div class="small-6 medium-4 columns">
                <input class="button prefix success" name="subscribe" onclick="this.value='Kiitos!'" type="submit" value="Tilaa uutiskirje">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="medium-6 columns">
        <h4>Autoimmeko sinua?</h4>
        <div class="row">
          <div class="medium-6 columns">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvenuu.fi" class="button expand m-button-facebook" data-venuu-t="{&quot;Link Name&quot;:&quot;Facebook Share Button&quot;}" target="_blank"><i class="icon-facebook-sign icon-large"></i>
            Jaa Facebookissa!
            </a>
          </div>
          <div class="medium-6 columns">
            <a href="http://twitter.com/share?text=Etsitkö%20tilaa%20tapahtumallesi?%20Venuusta%20löytyy!%20%40VenuuFinland&amp;url=http://venuu.fi" class="button expand m-button-twitter" data-venuu-t="{&quot;Link Name&quot;:&quot;Twitter Share Button&quot;,&quot;Share Text&quot;:&quot;Etsitk\u00f6 tilaa tapahtumallesi? Venuusta l\u00f6ytyy! @VenuuFinland&quot;}" target="_blank"><i class="icon-twitter-sign icon-large"></i>
            Jaa Twitterissä!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="m-footer-container">
      <div class="m-brand-and-social">
        <a href="/" class="m-logo" title="Venuu - löydä tila tapahtumallesi"></a>
        <div class="m-social-links">
          <a href="http://www.facebook.com/venuu.fi" target="_blank" title="Venuun Facebook-sivu"><i class="icon-facebook-sign"></i>
          </a><a href="http://www.twitter.com/venuufinland" target="_blank" title="Venuun Twitter-tili"><i class="icon-twitter-sign"></i>
          </a><a href="http://plus.google.com/+VenuuFi" target="_blank" title="Venuun Google Plus -tili"><i class="icon-google-plus-sign"></i>
          </a>
        </div>
        <p class="m-subtle">Venuu on nopeasti kasvava tapahtumatilojen hakupalvelu, joka on perustettu vuonna 2013.</p>
      </div>
      <div class="m-footer-links">
        <div class="m-footer-list">
          <ul>
            <li>Asiakaspalvelu</li>
            <li><a href="mailto:%61%73%69%61%6b%61%73%70%61%6c%76%65%6c%75@%76%65%6e%75%75.%66%69">asiakaspalvelu@venuu.fi</a></li>
            <li><a href="tel:+358440715083">+358 44 071 5083</a></li>
            <li>Arkisin 10-18</li>
            <li>
              <a href="#/yritys/medialle">Medialle</a>
            </li>
            <li>
              <a href="#/yritys/yhteystiedot">Yhteystiedot</a>
            </li>
          </ul>
        </div>
        <div class="m-footer-list">
          <ul>
            <li>Lisätietoa</li>
            <li>
              <a href="#/yritys/nain-venuu-toimii">Näin Venuu toimii</a>
            </li>
            <li>
              <a href="#/yritys/syyt-listata-tilasi">Syyt listata tilasi</a>
            </li>
            <li>
              <a href="#/yritys/faq">FAQ</a>
            </li>
            <li>
              <a href="#/yritys">Yritys</a>
            </li>
            <li>
              <a href="#/yritys/tiimi">Tiimi</a>
            </li>
            <li>
              <a href="#/yritys/avoimet-tyopaikat">Avoimet työpaikat</a>
            </li>
          </ul>
        </div>
        <div class="m-footer-list">
          <ul>
            <li>Palvelu</li>
            <li>
              <a href="#/blog">Blogi</a>
            </li>
            <li>
              <a href="#/tilat">Selaa tiloja</a>
            </li>
            <li>
              <a href="#/rekisteriseloste" target="_blank">Rekisteriseloste</a>
            </li>
            <li></li>
            <li>
              <a href="#/dashboard">Hallinnoi tilojasi</a>
            </li>
            <li>
              <a href="#/logout" data-method="delete" rel="nofollow">Kirjaudu ulos</a>
            </li>
            <li>
              <a href="#/feedback" data-reveal-id="feedback-modal">Ota yhteyttä</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>