<div class="row">
  {{#if errors.messages}}
  <div class="medium-12 columns">
    <div class="alert-box alert" data-alert>
        Something went wrong
        <a class="close" href="#">&times;</a>
    </div>

  <div>
  {{/if}}
  <div data-alert class="alert-box">
      <!-- Your content goes here -->
      <a href="#" class="close">&times;</a>
    </div>
</div>

