<div class="m-box-group">
  <div class="m-box">
    <div class="m-box-title">Tietosi</div>
    <div class="m-box-content">
      <b>Nimi</b>
      <p>John Doe</p>
      <b>Yritys</b>
      <p>RealDeal Business</p>
      <b>Kohteita</b>
      <p>{{model.length}} kpl</p>
      <b>Tiloja</b>
      <p>?? kpl</p>
      <button>Päivitä tietosi</button>
    </div>
  </div>
</div>

<div class="m-box-group">
  <div class="m-monthly-offers-box">
    <div class="m-box-title">Kuukauden tilastot</div>
    <div class="m-box-content">
      insert content here
    </div>
  </div>
</div>
