<div class="m-container-box">
  <h2>Tervetuloa Jussi</h2>
  <p>
    Hallintaliittymässä voit tarkastella ja päivittää kaikkia tilasi tietoja,
    saamiasi tarjouspyyntöjä ja muuttaa asetuksia.
  </p>
  <hr>
  <div class="row">
    <div class="medium-6 columns">
      <h5>Kohteet <small>{{length}} kpl</small></h5>
        {{#each this}}
          {{v-group-box group=this}}
        {{/each}}
        {{#link-to 'venue_group.new' id='create' class='button success'}}
          Luo uusi kohde
        {{/link-to}}
        <br>
        {{#link-to 'venue_group'}}Näytä kaikki kohteesi{{/link-to}}
    </div>
    <div class="medium-6 columns">
      <h5>Uusimmat tarjouspyynnöt</h5>
      <div class="m-venue-box">
        <img src="http://lorempixel.com/output/city-q-c-60-60-2.jpg" width="60" height="60">
        <h6>Pikkujoulut</h6>
        <small>Murphy, Douglas and Sawayn 4</small>
        <p>Saapunut 12.4.2014</p>
      </div>
      <div class="m-venue-box">
        <img src="http://lorempixel.com/output/city-q-c-60-60-1.jpg" width="60" height="60">
        <h6>Häät</h6>
        <small>Kongressikeskus</small>
        <p>Saapunut 12.4.2014</p>
      </div>
    </div>
  </div>
</div>
