<div class="m-loader" style="display:block" id="venues" >
  <div class="m-loader-container">
    <div class="m-loader-spinner">
      <img src="/images/spinner@2x.gif" width="200" height="200">
    </div>
    <p>LADATAAN...</p>
  </div>
</div>
